
h1{color:orange;}
html{font-family: "Comic Sans MS";
    background-image: url("https://assets.vg247.com/current//2017/01/titanfall_2_live_fire-2.jpg")

}
#mytitle {
    color: orange
}
.list-item {
    font-size: 24px
    
}

a {
    color: white;
}

ul {
    border: 24px solid orange;
    padding: 10px;
    list-style: none;
}

img {
    width: 200px
}



a:hover {
    background-color:#2DBF9C;
}
    
input{ 
    font-size: 18px;
}
button{ 
    font-size: 18px;
}